* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 10px 200px 10px 10px;
    background-color: #001D23;
    font-size: 12pt;
    line-height: 1.5;
}
.author{font-size: 13px;padding-left:50px;margin:0px 0px 20px 0px;color:#666;}
h1, h2, h3, h4, h5 { margin-top: 1em; }
h1 { font-size: 200%; color: green; padding-left: 30px;margin-bottom: 3px;}
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
.topofpage {font-size:10px;color:#666;}
.menu {
    background-color: gray;
    text-align: center;
    float: left;
    width: 200px;
    margin: 10px 0px 0px 30px;
    padding-top: 1em;
    padding-bottom: 3em;
    -webkit-box-shadow: inset 0 0 30px #444;
    -moz-box-shadow: inset 0 0 30px #444; 
    -webkit-box-shadow: 0 0 50px #fff;
    -moz-box-shadow: 0 0 50px #fff;
    /* -webkit-border-top-right-radius: 10px; */
    /* -moz-border-radius-topright: 10px; */
    /* -webkit-border-top-left-radius: 10px; */
    /* -moz-border-radius-topleft: 10px; */
}
.menu ul{
    padding: 0;
    margin-left: 0px;
    list-style: none;
    font-size: 20px;
    line-height: 1.5em;
}
.menu li{ 
    margin: 0;
    padding: 0;
}
.menu a{color: #111;}
.menu a:visited {color: #111;}  
.menu a:hover {color: blue;}

.home {
    /* border: 10px solid #000; */
    -webkit-box-shadow: inset 0 0 30px #000;
    -moz-box-shadow: inset 0 0 30px #000;
    /* background-color: hsl(85%,90%,205); */
    background: #fffff0;
    padding: 10px 30px 20px 40px;
    margin: 20px 30px 0px 260px;
    height:auto !important;
    min-height:700px;
}
#navfoot { font-size: 12px; color:#555;text-align:center;margin:10px 30px 10px 260px;}

.hide{color: gray;}
a { text-decoration: none; color: blue; }
a:visited { text-decoration: none; color: blue; }  
a:hover { text-decoration: underline; color: green; }
a.contents {color: #444; margin:0;}
a.show {color: #ddd;}
.radius {
    border-radius: 20px;
    behavior: url(border-radius.htc);
}
.moz {
    background-image: -moz-linear-gradient(top,#eee,#666);
}
.webkit {
    background-image: -webkit-linear-gradient(top, #eee, #555); 
}
li {margin: 10px 0px 5px 5px;}

code {
    font-size: 12pt;
    font-family: serif;
    padding: 0em 0.5em 0em 0.5em;
    color: #012345;
}
pre{
    font-family: serif;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 11pt;
    color: #e6e1dc;
    background-color: #232323;
}
#related {
    margin-top: 2em;
}
span.total {
    margin-left: 5em;
}
span.date{
    margin-left: 4em;
}
ul,ol {
    padding-left: 2em;
}
li {
    margin-top: 0;
    margin-bottom: 0;
}
.note {
    background-image: url(/images/tip.png);
    background-repeat: no-repeat;
    background-color: #eeefff;
    border: #aaa 1px dotted;
    margin: 1em 3em 1em 3em;
    padding: 0.5em 1em 0.5em 1em;
}

#toc {
    margin: 1em 2em 1em 3em;
    padding: 10px;
    float: right;
    -moz-box-shadow:-10px 10px 10px #aaa;
    -webkit-box-shadow:-10px 10px 10px #aaa;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}
#toc a{
    display: block;
}
#toc a[title="H3"] {
    margin-left: 1em;
    font-size: 80%;
}
.hover { 
    background-image: -webkit-linear-gradient(top, #aaa, #fff);
    background-image: -moz-linear-gradient(top,#aaa,#fff);
}
.footref {
    font-size: 80%;
}
p { margin-top: 0.5em;}